# IntelliJ IDEA #
.idea/
*.iml
out/


# Eclipse #
*.pydevproject
*.launch
.metadata
.gradle
.settings/
.loadpath


# Java #
*.class


# Package Files #
*.jar
*.war
*.ear


# Maven #
target/


# Linux #
*~


# Windows #
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp